extends layout

block content
  div.container
    div.row
      div.col-xs-7.col-sm-5.col-md-4
        img(src = "http://kvikmyndir.is/images/poster/jack_reacher-1475004871.png")
      div.col-xs-7.col-sm-5.col-md-4
        img(src = "http://kvikmyndir.is/images/poster/svarta_gengið-1476734814.png")
      div.col-xs-7.col-sm-5.col-md-4
        img(src = "http://kvikmyndir.is/images/poster/rúnturinn-1476734542.png")
      div.col-xs-7.col-sm-5.col-md-4
        img(src = "http://kvikmyndir.is/images/poster/grimmd_plakat-1475001913.jpg")
      div.col-xs-7.col-sm-5.col-md-4
        img(src = "http://kvikmyndir.is/images/poster/9878_500.jpg")
