doctype html
html
  head
    title Bíómyndir
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="/javascripts/main.js")
    block scripts
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    meta(name='google-site-verification' content='vxvzY7MfknPBBynebiG5cxBX8vEcubatsTI2unIq14U')
  body
    nav.navbar-fixed-top
      div.container-fluid
        div.navbar-header
          a.navbar-brand.textStyle Bíómyndir
        div.nav.navbar-nav
          li
            a(href='http://localhost:3000/').textStyle#playingNow Í bíó
          li
            a(href='http://localhost:3000/comingsoon').textStyle#playingSoon Væntanlegt
    block content
