extends layout

block scripts
  script(src="/javascripts/index.js")
block content
  div.container
    div.row#content
      each moviedata in movie
        div.col-xs-7.col-sm-5.col-md-4.col-lg-4
          a(href='http://localhost:3000/movie/' + moviedata.id).posterlink
            img(src=moviedata.poster,alt='text').poster
    div.loading
