extends layout

block content
  #movieContent
    img(src='https://image.tmdb.org/t/p/w500/' + movie.backdrop_path).moviesBackground
    .flexContainer
      p.textOnImage TEXTITEXTITEXTITEXTITEXTITEXTI