extends layout

block scripts
  script(src="/javascripts/index.js")
block content
  div.container
    div.row#content
      each moviedata in movie
        div.col-xs-7.col-sm-5.col-md-4.col-lg-4
          a(href='http://localhost:3000/movie/' + moviedata.id).posterlink
            div.image-hover-text-container
              div.image-hover-image
                if(moviedata.poster === 'http://kvikmyndir.is/images/poster/')
                  img(src="/images/no-poster.png",alt='poster').poster
                else
                  img(src=moviedata.poster,alt='text').poster
              div.image-hover-text
                div.image-hover-text-bubble
                  span.image-hover-text-title #{moviedata.title}
    div.loading
