extends layout
block scripts
  script(src="/javascripts/trailer.js")
  script(src="/javascripts/movie.js")
block content
  p #{movie.title}
  if movie.trailers[0]
    - var movielink = movie.trailers[0].results
    each link in movielink
      div(trailerkey=link.key,id=link.key).player
  else
